<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br/>
<h1 class="offset-sm-2">MemeBlog</h1>
<hr/>
<form class="col-sm-4 offset-sm-1" method="post" th:object="${user}">
    <div class="form-group">
        <label th:for="*{username}">Username</label>
        <input type="text" class="form-control" th:field=="*{username}" id="username" aria-describedby="usernameHelp" placeholder="Username">
        <span class="error" th:errors="*{username}"></span>
    </div>
    <div class="form-group">
        <label th:for="*{password}">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
        <span th:errors="*{password}" class="error"></span>
        <span class="error" th:text="${usernameError}"></span>

    </div>

    <div class="text-right">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

</body>
</html>