<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: userNavigation"></nav>

        <h1>This will be the User AddMeme page!</h1>

        <p th:text="'Hello, ' + ${username}"></p>

        <form method="post" enctype="multipart/form-data">

            <label for="name">Name: </label>
            <input id="name" th:field="${meme.name}"/>
            <div th:errors="${meme.name}"></div>

            <label for="owner_comment">Caption: </label>
            <input id="owner_comment" th:field="${meme.owner_comment}" />
            <div th:errors="${meme.owner_comment}"></div>

            <label for="pic">Upload Image: </label>
            <input id="pic" type="file" name="file" />
            <div th:errors="${meme.pic}"></div>

            <input type="submit" />

        </form>

    </body>
</html>