<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: userNavigation"></nav>

        <h1>This will be the User AddMeme page!</h1>

        <p th:text="'Hello, ' + ${username}"></p>

        <form method="post" th:object="${meme}">

            <label for="name">Name: </label>
            <input id="name" th:field="*{name}"/>
            <div th:errors="*{name}"></div>

            <label for="owner_comment">Caption: </label>
            <input id="owner_comment" th:field="*{owner_comment}" />

            <label for="pic">Upload Image: </label>
            <input id="pic" type="file" th:field="*{pic}" />

            <input type="submit" />

        </form>

    </body>
</html>